@font-face {
    font-family: "Pokemon";
    size-adjust: 200%;
    src: url("./res/pokemon-dp-pro.ttf") format("truetype") ;
  }
body, html {
    font-family: "Pokemon", sans-serif; /* Apply the custom font */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f4f4f;
 }
  

.primerafila{
    align-items: center;
    display: flex;
    height: 300px;
    width: 1367px;
    background-image: url(./res/topdetall.png);
}
.photo-container{
    display: flex;
    align-items: center;
    width: 600px;
    height: 300px;
    
}
.photoborder
{
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-image: url(./res/marcdetall.png);
}

.topbarpanel
{
    display: flex;
    width: 767px;
    height: 300px;
}
.topbarspacer
{
    width: 255px;
}
.topbarbuttoncontainer
{
    width: 255px;
}
.buttonback
{
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(./res/backbutton.png);
    width: 220px;
    height: 100px;
}
.buttonserebii
{
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(./res/serebii.png);
    width: 220px;
    height: 100px;
}
.segonafila
{
    align-items: center;
    display: flex;
    width: 1367px;
    height: 468px;
}
.columna1
{
    align-items: center;
    width: 600px;
    height: 468px;
    
}
.nompokemon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 68px;
    background-image: url(./res/nameborder.png);
    align-items: center;
    font-weight: bold;

}
.dadespokemon
{
    width: 600px;
    height: 400px;
    background-image: url(./res/col1.png);

    
}
.pokemontagline
{
    width: 600px;
    height: 50px;
    background-color: black;
}
.dadespokemoncontainer
{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.types
{
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    width: 120px;
    height: 120px;
    margin: 30px;
    background-image: url(./res/tipus.png);


}
.typeImage{
    margin:5px;
    width:100px;
}
.measurements
{
    width: 500px;
    height: 120px;
    margin: 30px;
    background-image: url(./res/measurements.png);
}
.measurements div {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
  }
  
.evolutions
{
    width: 300px;
}
.abilitiessection
{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 34px;
    width: 500px;
    height: 170px;
    padding: 15px;
    background-image: url(./res/abilities.png);
}
.abilityname
{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    
}
.abilitytext
{
    font-size: 0.85em;
    text-align: center;
}
.statstable{
    width: 767px;
    height: 468px;
    background-color: green;
}
.statbar
{
    width: 80%;
    height:35px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #8a7f7f;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}
.statname
{
    width: 10%;
}
.innerStatsBar{
    height: 100%;
    width:0;
    border-radius: 15px;
}

